.section-header {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 1rem auto;
  display: block;
}

.category-section {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.category-boxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content:space-between;
  max-height: 40%;
}

.category-box {
  background-color: rgba(0, 0, 0, 0.4);
  padding: .5rem;
  margin: .5rem;
  border-radius: 8px;
  max-width: 20%;
  text-align: left;
}

.category-header-image {
  background-image: url('../../../public/assets/images/headers/LeaderHeader.png');
  min-height: 50px;
}

.category-header {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  padding-top: 15px;
  text-shadow: 2px 2px 8px black
}

.category-list {
  
}

ul {
    margin-block-start: 1em;
    padding-inline-start: 5px;
}

.category-names {
  font-size: 1rem;
}

.trail-section {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
  max-height: 40%;
}

.trail-box {
  background-color: rgba(5, 5, 5, 0.4);
  margin: .5rem;
  padding: .5rem;
  border-radius: 8px;
  max-width: 12%;
}

.trail-header {
  text-align:center;
  text-shadow: 2px 2px 8px black
}

.trail-name {
  font-size: 1rem;
  padding-top: 15px;
  margin: 0;
}

.trail-stats {
  font-size: 1rem;
  margin: 0;
}

.trail-content {
  margin-top: 1rem;
  text-align: left;
}

.bonus-remainders {
  font-size: .75rem;
}

.racer-list {
  font-size: .75rem;
}