@font-face {
  font-family: 'NESFont';
  src: url('../../../public/assets/fonts/the-legend-of-zelda-nes.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NESFont', sans-serif;
}

.section-header {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 1rem auto;
  display: block;
}

.category-section {
  display: flex;
  flex-direction: row;
  height: 30%;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.category-boxes {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.category-box {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem;
  border-radius: 8px;
  max-width: 20%;
  text-align: left;
  font-size: .5rem;
}

.category-header-image {
  background-image: url('../../../public/assets/images/headers/LeaderHeader.png');
}

.category-header {
  margin: 0;
}

/* .category-list {
  margin-block-start: 0.5em;
} */

ul {
    margin-block-start: 1em;
    padding-inline-start: 5px;
}

.trail-section {
  display: flex;
  flex-direction: row;
  height: 60%;
  width: 100%;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.trail-header {
  text-align: center;
}

.trail-name {
  font-size: 1rem;
  padding-top: 15px;
  margin: 0;
}

.trail-stats {
  font-size: .75rem;
  margin: 0;
}

.trail-box {
  background-color: rgba(5, 5, 5, 0.5);
  margin: .5rem;
  padding: .5rem;
  border-radius: 8px;
  max-width: 12%;
}

.trail-content {
  margin-top: 1rem;
  text-align: left;
}

.bonus-remainders {
  font-size: .75rem;
}

.racer-list {
  font-size: .5rem;
}